.search-container {
  display: flex;
  background-color: #f9fafa;
  padding: 2.5ch 0.7vw 2ch 0.7vw;

  justify-content: space-around;
  border-bottom: 0.1vh solid #d5d9de;

  label {
    color: #5a6066;
    padding-bottom: 1ch;
  }
  input {
    height: 5ch;
    font-size: 90%;
    border: 0.1vh solid;
    border-color: lightgrey;
    padding-left: 0.5vw;
    color: #5a6066;
  }
  ::placeholder {
    color: #bcbcbc;
  }

  select {
    height: 6ch;
    font-size: 85%;
    border: 0.1vh solid lightgrey;
    padding-left: 0.5vw;
    background-color: white;
    color: #5a6066;
    //-webkit-appearance: none;
  }
  .container {
    display: flex;
    flex-direction: column;
    position: relative;

    .search-label {
      display: flex;
      align-content: flex-start;
    }

    &-keywords {
      @extend .container;
      width: 26%;
    }
    &-launch {
      @extend .container;
      width: 30%;
    }
    &-min {
      @extend .container;
      width: 12%;
    }
    &-max {
      @extend .container;
      width: 12%;
    }
  }
  #apply-btn-container {
    display: flex;
    position: relative;
    width: 8%;
    align-items: flex-end;
    margin-top: 2.6ch;
    #apply-btn {
      height: 90%;
      width: 100%;
      font-size: 95%;
      color: white;
      border: none;
      background-color: #1fbba6;
    }
  }
}

// @mixin container {
//   display: flex;
//   flex-direction: column;
//   position: relative;
// }

@media screen and (max-width: 700px) {
  .search-container {
    flex-flow: row wrap;

    .container-keywords {
      width: 90%;
      padding-bottom: 1ch;
    }
    .container-launch {
      width: 90%;
      padding-bottom: 1ch;
    }
    .container-min {
      width: 25%;
    }
    .container-max {
      width: 25%;
    }
    #apply-btn-container {
      width: 20%;
    }
  }
}
