@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

label {
  padding-bottom: 1vh;
  font-family: "Lato", sans-serif;
}

input {
  height: 4vh;
  font-family: "Lato", sans-serif;
  border: 0.1vh solid;
  border-color: lightgrey;
  padding-left: 0.5vw;
  color: #5a6066;
}

::placeholder {
  color: #bcbcbc;
}

select {
  height: 4.5vh;
  border-color: lightgrey;
  padding-left: 0.5vw;
  font-family: "Lato", sans-serif;
  background-color: white;
  color: #5a6066;
}

.container {
  display: flex;
  flex-flow: row wrap;
  background-color: #f9fafa;
  padding: 1.5vh 0.7vw 2vh 0.7vw;
  font-family: "Lato", sans-serif;
  justify-content: space-around;
  // border: 1ch;
  // border-color: #d5d9de;
  border-bottom: 0.1vh solid #d5d9de;

  label {
    color: #5a6066;
  }

  #keywords-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 26%;
    #keywords-label {
      display: flex;
      align-content: flex-start;
    }
  }
  #launch-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 26%;
    #launch-label {
      display: flex;
      align-content: flex-start;
    }
  }
  #min-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 16%;
    #min-label {
      display: flex;
      align-content: flex-start;
    }
  }
  #max-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 16%;
    #max-label {
      display: flex;
      align-content: flex-start;
    }
  }
  #apply-btn-container {
    display: flex;
    position: relative;
    width: 6%;
    justify-content: center;
    padding-top: 2%;
    #apply-btn {
      height: 4.5vh;
      width: 100px;
      font-family: "Lato", sans-serif;
      font-size: 80%;
      color: white;
      border: none;
      background-color: #1fbba6;
    }
  }
}
