@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

label {
  padding-bottom: 5px;
  font-family: "Lato", sans-serif;
}

input {
  height: 5.5ch;
  font-family: "Lato", sans-serif;
  border: 1px solid;
  border-color: lightgrey;
  padding-left: 2ch;
  color: gray;
}

::placeholder {
  color: gray;
  padding-left: 1ch;
}

// temp comment

select {
  height: 6ch;
  border-color: lightgrey;
  border-radius: 0ch;
  padding: 1ch;
  font-family: "Lato", sans-serif;
  background-color: white;
  color: gray;
}

.container {
  display: flex;
  flex-flow: row wrap;
  background-color: #ededed;
  padding: 15px;
  font-family: "Lato", sans-serif;
  justify-content: space-around;
}

#keywords-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 25%;
  align-content: flex-start;
}

#launch-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 25%;
}

#min-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 15%;
}

#max-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 15%;
}

#apply-btn-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 10%;
  justify-content: space-between;
  padding-top: 1.9%;
}

#apply-btn {
  height: 5.3ch;
  width: 100px;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  color: white;
  border: none;
  background-color: mediumaquamarine;
}
