@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.box {
  display: grid;
  position: relative;
}

.box .image {
  width: 100%;
  max-width: 100vw;
  max-height: 100vh;
  // margin: auto;
  object-fit: cover;
  filter: opacity(42%);
  filter: grayscale(0%);
}

.box .btn {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: transparent;
  padding: 25px 30px;
  border: none;
  outline: none;
  background-image: url("../designs/white_chevron.svg");
  background-size: 90%;
  background-position: center;
}

.box .heading {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 55px;
  font-family: "Lato";
  // -ms-transform: translate(-50%, -50%);
}

.box .subtext {
  position: absolute;
  top: 8%;
  left: 8%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Lato", sans-serif;
  // -ms-transform: translate(-50%, -50%);
}
