@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.mission-btn {
  background-color: #ffffff;
  font-family: Lato, sans-serif;
  border: 1px solid #e9ecef;
  color: #7c8a8d;
  text-transform: capitalize;
  //   outline: none;
  padding: 1ch 1.5vw 1ch 1.5vw;
  margin-right: 1vw;
}
