.mission-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: #ffffff;
  padding-top: 1ch;
  border-bottom: 0.1vh solid #d5d9de;

  .image-mission {
    height: 10ch;
    width: 10ch;
    padding-left: 2vw;
    padding-top: 1ch;
    margin: 0;
  }
  .mission-content {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 79%;
    justify-content: space-around;
    align-items: flex-start;
    padding-left: 3vw;
    .mission-btn-container {
      display: flex;
      flex-direction: row;
      background-color: #ffffff;
      width: 100%;
      padding-top: 5ch;
      padding-bottom: 3ch;
    }
    .failed {
      color: red;
    }
  }
  .number-container {
    padding-top: 3ch;
    flex-direction: column;
    position: relative;
    width: 15%;
  }
  .firstline {
    padding-bottom: 1ch;
    font-size: large;
    &-content {
      @extend .firstline;
      text-align: left;
    }
  }
  .secondline {
    color: #7b8b8e;
    &-content {
      @extend .secondline;
      text-align: left;
    }
  }
}
