@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.mission-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: #fafafa;
  padding: 15px;
  font-family: Lato, sans-serif;
  height: 15ch;
}

#image-mission {
  height: 60%;
  width: 5%;
  margin: 0;
}

#mission-content {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 80%;
  justify-content: left;
  align-items: flex-start;
  padding-left: 5ch;
}

#number-container {
  flex-direction: column;
  position: relative;
  width: 10%;
}

.firstline {
  padding-bottom: 15px;
  font-size: large;
}

.secondline {
  padding-bottom: 15px;
  color: grey;
}
