@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.mission-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: #ffffff;
  padding: px;
  font-family: Lato, sans-serif;
  height: 15ch;
  padding-top: 1vh;
  border-bottom: 0.1vh solid #d5d9de;

  #image-mission {
    height: 9ch;
    width: 9ch;
    padding-left: 1vw;
    padding-top: 1vh;
    margin: 0;
  }
  #mission-content {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 79%;
    justify-content: left;
    align-items: flex-start;
    padding-left: 3vw;
  }
  #number-container {
    padding-top: 1vh;
    flex-direction: column;
    position: relative;
    width: 10%;
  }
}

.firstline {
  padding-bottom: 1vw;
  font-size: large;
}

.secondline {
  padding-bottom: 1vw;
  color: grey;
}

.failed {
  color: red;
}
