@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.Form {
  text-align: center;
  margin: 4vh 4vw 2vh 4vw;
  #loading {
    font-family: "Lato", sans-serif;
    background-color: #f9fafa;
    padding: 5%;
  }
}

.div {
  scroll-behavior: smooth;
}
