@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

label {
  padding-bottom: 5px;
  font-family: "Lato", sans-serif;
}

input {
  height: 5ch;
  font-family: "Lato", sans-serif;
  border: 1px solid;
  border-color: lightgrey;
  padding-left: 2ch;
}

::placeholder {
  color: black;
  padding-left: 1ch;
}

select {
  height: 6ch;
  border-color: lightgrey;
  border-radius: 0ch;
  padding: 1ch;
  font-family: "Lato", sans-serif;
  background-color: white;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #ededed;
  padding: 15px;
  font-family: "Lato", sans-serif;
}

#keywords-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 25%;
  justify-content: left;
}

#launch-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 25%;
  justify-content: left;
}

#min-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 15%;
  justify-content: left;
}

#max-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 15%;
  justify-content: left;
}

#apply-btn-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 10%;
  justify-content: space-between;
  padding-top: 1.3%;
}

#apply-btn {
  height: 5ch;
  width: 100px;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  color: white;
  border: none;
  background-color: mediumaquamarine;
}
