.container {
  width: 100%;
  height: 60vh;
  //padding-bottom: 56.25%; //16 x 9
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  .player {
    position: absolute;
    left: 20%;
    width: 60%;
    height: 100%;
  }
}
