.image {
  height: auto;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  display: block;
  filter: opacity(50%);
  filter: grayscale(100%);
}

.box {
  display: grid;
  position: relative;
  height: 100%;
  width: 100%;
}

.box .btn {
  position: absolute;
  top: 90%;
  left: 50%;
  //   transform: translate(-50%, -50%);
  //   -ms-transform: translate(-50%, -50%);
  background-color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  background-image: url("./designs/down-chevron.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}
